a {
  text-decoration: none;
  //background-color: #e9ecef;
  border-radius: 1.2rem;
  padding: 1rem;
  color: #495057;
}

.active {
  border: 1px solid dimgray;
  background-color: #e9ecef;
  border-radius: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  background-color: #4f5d75;

}

.header {
  border: solid 1px #adb5bd;
  background-color: #adb5bd;
  color: #495057;
  text-decoration: none;
  padding: 0.8rem;
  &_nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: large;
    color: #495057;

  }
}
