<!--<div class="bookItem">-->
<!--  <div class="bookItem_bookLink" >-->
<!--    <div class="bookItem_bookLink_right">-->
<!--      <img src="{{ wishlist.imagePath }}" [src]="wishlist.imagePath" alt="" style="max-height: 150px;">-->
<!--    </div>-->

<!--    <div class="bookItem_bookLink_left">-->
<!--      <p> {{ wishlist.title }} </p>-->
<!--      <p> Autor: {{ wishlist.author }}</p>-->
<!--      <p *ngIf="wishlist.category != null">Category: {{ wishlist.category }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--    <div class="bookItem_button">-->
<!--    <button type="submit" (click)="onMarkAsOwned()">Mark as owned</button>-->

<!--  </div>-->

<!--</div>-->
