input.ng-invalid.ng-touched {
  border: 1px solid red;
}

form {
  display: flex;
}

//::placeholder {
//  color: red;
//  opacity: 1;
//}

.ng-invalid.ng-touched {
  p:nth-of-type(2) {
    color: red;
  }
  //::placeholder {
  //  color: red;
  //  opacity: 1;
  //}
  p:nth-of-type(3) {
    color: red;
  }
}

.newBooks {
  border: 1px solid #adb5bd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  p{
    text-align: center;
  }
  input {
    margin: 0.2rem;


  }
}
.bookItem {
  border-bottom: 1px solid darkgrey;
  width: 450px;
  background-color: #e9ecef;
  margin-top: 1rem;

  &_bookLink {
    display: flex;
    text-decoration: none;
    color: #495057;

    &_left {
      margin-left: 1rem;

      p:first-child {
        font-weight: bold;
      }

      p:nth-of-type(2) {
        font-size: 0.8rem;
      }
    }
  }


}
