<app-header></app-header>

<div class="newBooks">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <div class="newBooks_left">
    <p>Add a Book</p>
      <p *ngIf="!signupForm.get('title')?.valid && signupForm.get('title')?.touched">Please enter a valid title!</p>
    <label for="title">Title </label>
    <input type="text" id="title" formControlName="title">

      <p *ngIf="!signupForm.get('author')?.valid && signupForm.get('author')?.touched">Please enter a author!</p>
    <label for="author">Author </label>
    <input type="text" id="author" formControlName="author">
    <label for="img">Cover </label>
    <input type="text" id="img" formControlName="img">

      <button
        type="submit"
        [disabled]="!signupForm.valid">ADD</button>

      <div class="newBooks_wishlist">
      <label for="wishlist">WISHLIST</label>
      <input type="checkbox" id="wishlist" name="wishlist" formControlName="wishlist"/>
      </div>

    </div>


        <div class="newBooks_radioBtn">
      <div id="category">
        <p *ngIf="!signupForm.get('category')?.valid && signupForm.get('category')?.touched">Please chose a category!</p>
      <label for="category"> Categories: </label>
      </div>
      <div>
        <input id="naukowe" type="radio" value="naukowe" name="category" formControlName="category">
        <label for="naukowe">Naukowe</label>
      </div>
      <div>
        <input id="thriller" type="radio" value="thriller" name="category" formControlName="category">
        <label for="thriller">Thriller, kryminał</label>
      </div>
      <div>
        <input id="fantastyka" type="radio" value="fantastyka" name="category" formControlName="category">
        <label for="fantastyka">fantastyka</label>
      </div>
      <div>
        <input id="piękna" type="radio" value="piękna" name="category" formControlName="category">
        <label for="piękna">piękna</label>
            </div>
    </div>



<!--    <form [formGroup]="form" ></form>-->
<!--    <div *ngFor="let item of checkboxes">-->
<!--      <label>-->
<!--        <input id="item"-->
<!--               type="checkbox"-->
<!--               value="item.id"-->
<!--              formControlName="checkboxes">-->
<!--        {{ item. name }}-->
<!--      </label>-->

<!--    </div>-->

  </form>
</div>

<app-book-list></app-book-list>
<!--<app-book-detail *ngIf="selectedBook"></app-book-detail>-->

